* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #363432;
  height: 10%;
}

.backgroundPosition {
  background-color: #fff;
}

.backgroundHome {
  background-color: #241e20;
}


.logo {
  height: 30%;
  width: 30%;
  margin-top: 5%;
  margin-left: 35%;
  margin-bottom: 5%;
}

.start {
  height: 30px;
  width: 70px;
  background-color: #f7921c;
  font-size: medium;
  color: #241e20;
  font-weight: bold;
  border-color: #f7921c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: #f7921c;
  margin-left: 45%;

}

.btnPosition {
  background-color: #fff;
  border: none;
  color: #6a6868;
  font-family: "Fredoka One", cursive;
  display: block;
  margin-top: 10%;
  margin-left: 45%;
}


.Menu {
  padding: 0;
}

.backgroundBreakfast {
  background-color: #bf1e2e;
}

.backgroundDinner {
  background-color: #f7921c;
}

.backgroundDrinks {
  background-color: #fff;
}

.btnMenu {
  border: none;
  color: #fff;
  font-family: "Fredoka One", cursive;
  font-size: 9px;
  height: 45px;
  width: 100px;
  margin-left: 15%;
  margin-bottom: 5%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btnBreakfast{
  background-color: #ec4453;
}

.btnDinner {
  background-color:#ffa72b;
}

.btnDrinks {
  background-color:#6a6868;
}

.titleBkf {
  color: #fff;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  margin-left: 15%;
}

.titleDrinks {
  color: #241e20;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  margin-left: 15%;
}

.Order {
  float: right;
}

.logoCashier {
  height: 40%;
  width: 40%;
  margin-top: -230%;
  margin-left: 30%;
}